<form [formGroup]="inputForm" (ngSubmit)="onSubmit()">
  <div class="row m -5">
    <div class="col-md-4">
    </div>
    <div class="col-md-4">
      <div class="form-row">
        <div class="form-group col-md-12">
          <input id="scoreInput" type="number" formControlName="scoreInput" min="0" max="10">
          <button type="submit">Submit</button>
        </div>
      </div>
    </div>
    <div class="col-md-4">
    </div>
  </div>
</form>
<div class="row m -5">
  <div class="col-md-4">
  </div>
  <div class="col-md-4">
    <div class="row">
      <div class="col-md-12">
        <button (click)="showHide()">{{showHideText}}</button>
      </div>
    </div>
  </div>
  <div class="col-md-4">
  </div>
</div>
<div class="row m -5">
  <div class="col-md-12">
    <app-targets-view [isVisible]="isVisible" [targetScores]="targetScores"></app-targets-view>
  </div>
</div>