<div style="max-width: 98%;">
  <form [formGroup]="inputForm" (ngSubmit)="onSubmit()">
    <div class="form-row" style="margin-top: 30px; margin-left: 30px;">
      <div class="form-group col">
        <input
          id="scoreInput"
          type="number"
          formControlName="scoreInput"
          min="0"
          max="10"
        />
        <button type="submit" style="margin-left: 10px;">Submit</button>
      </div>
    </div>
  </form>
  <div class="row" style="margin-top: 30px; margin-left: 20px;">
    <div class="col">
      <button (click)="showHide()">{{ showHideText }}</button>
    </div>
  </div>

  <div class="row">
    <app-targets-view
      [isVisible]="isVisible"
      [targetScores]="targetScores"
    ></app-targets-view>
  </div>
</div>
