.full-width-table {
  width: 100%;
}

.grid-container {
  margin: 1.25rem;
}

.dashboard-card {
  position: absolute;
  top: 0.9375rem;
  left: 0.9375rem;
  right: 0.9375rem;
  bottom: 0.9375rem;
}

.more-button {
  position: absolute;
  top: 0.313rem;
  right: 0.625rem;
}

.dashboard-card-content {
  text-align: center;
}

.mat-cell {
  text-align: left;
}
